.cart-page .count {
  align-items: center;
}

.cart-page .count button {
  padding: 12px;
  background-color: transparent;
  border: 1px solid rgb(209, 203, 203);
  outline: none;
}

.cart-page .card button,
.cart-page .card input {
  border: 1px solid rgb(209, 203, 203);
  background-color: transparent;
  outline: none;
}

.cart-page .card .add {
  background-color: transparent;
  color: #62d0b6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #62d0b6 !important;
}

.cart-page .card .confirm {
  background-color: #62d0b6;
  color: white;
}
