.features {
  padding: 45px 8%;
}

.features .wrapper {
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  padding: 25px;
}

.features .wrapper .item {
  flex: 1;
  justify-content: space-around;
  text-align: right;
  padding: 24px 12px;
  border: 1px solid lightgray;
  min-width: 280px;
}
.features .wrapper .item h3 {
  font-size: 22px;
}
.features .wrapper .item p {
  font-size: 14px;
  color: rgb(49, 48, 48);
  font-weight: 600;
}

@media (max-width: 500px) {
  .features .wrapper {
    padding: 0;
    border: none;
  }
}
